@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: "Anton", sans-serif;
    width: 100%;
    letter-spacing: 3px;
}

.title{
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 70px;
}

.move-icon{
    height: 50px;
}        

.move-button{
    background-color: transparent;
    border: 4px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-right: 10px;
    cursor: pointer;
}

.result{
    font-size: 25px;
    margin-top: 50px;
}

.score{
    margin-top: 60px;
}

.reset-score-button{
    border: none;
    font-size: 20px;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(249, 249, 55);
    font-weight:700;
    font-style :normal;
}